# Console
/src/Symfony/Component/Console/ @chalasr
/src/Symfony/Component/Console/Logger/ConsoleLogger.php @dunglas
# DependencyInjection
/src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php @dunglas
# ErrorHandler
/src/Symfony/Component/ErrorHandler/ @yceruto
# Form
/src/Symfony/Bridge/Twig/Extension/FormExtension.php @xabbuh
/src/Symfony/Bridge/Twig/Form/ @xabbuh
/src/Symfony/Bridge/Twig/Node/FormThemeNode.php @xabbuh
/src/Symfony/Bridge/Twig/Node/RenderBlockNode.php @xabbuh
/src/Symfony/Bridge/Twig/Node/SearchAndRenderBlockNode.php @xabbuh
/src/Symfony/Bridge/Twig/Tests/Extension/FormExtension* @xabbuh
/src/Symfony/Bridge/Twig/Tests/Node/FormThemeTest.php @xabbuh
/src/Symfony/Bridge/Twig/Tests/TokenParser/FormThemeTokenParserTest.php @xabbuh
/src/Symfony/Bridge/Twig/TokenParser/FormThemeTokenParser.php @xabbuh
/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/FormPass.php @xabbuh
/src/Symfony/Bundle/FrameworkBundle/Resources/views/ @xabbuh
/src/Symfony/Bundle/FrameworkBundle/Templating/Helper/FormHelper.php @xabbuh
/src/Symfony/Bundle/FrameworkBundle/Tests/DependencyInjection/Compiler/FormPassTest.php @xabbuh
/src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperTableLayoutTest.php @xabbuh
/src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/FormHelperDivLayoutTest.php @xabbuh
/src/Symfony/Component/Form/ @xabbuh @yceruto
# HttpKernel
/src/Symfony/Component/HttpKernel/Log/Logger.php @dunglas
# Lock
/src/Symfony/Component/Lock/ @jderusse
# Notifer
/src/Symfony/Component/Notifier/ @OskarStark
# OptionsResolver
/src/Symfony/Component/OptionsResolver/ @yceruto
# PasswordHasher
/src/Symfony/Component/PasswordHasher/ @chalasr
# PropertyInfo
/src/Symfony/Component/PropertyInfo/ @dunglas
/src/Symfony/Bridge/Doctrine/PropertyInfo/ @dunglas
# Serializer
/src/Symfony/Component/Serializer/ @dunglas
# Security
/src/Symfony/Bridge/Doctrine/Security/ @wouterj @chalasr
/src/Symfony/Bundle/SecurityBundle/ @wouterj @chalasr
/src/Symfony/Component/Security/ @wouterj @chalasr
/src/Symfony/Component/Ldap/Security/ @wouterj @chalasr
# TwigBundle
/src/Symfony/Bundle/TwigBundle/ @yceruto
# WebLink
/src/Symfony/Component/WebLink/ @dunglas
# Workflow
/src/Symfony/Bridge/Twig/Extension/WorkflowExtension.php @lyrixx
/src/Symfony/Bridge/Twig/Tests/Extension/WorkflowExtensionTest.php @lyrixx
/src/Symfony/Bundle/FrameworkBundle/Command/WorkflowDumpCommand.php @lyrixx
/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/ValidateWorkflowsPass.php @lyrixx
/src/Symfony/Bundle/FrameworkBundle/DependencyInjection/Compiler/WorkflowGuardListenerPass.php @lyrixx
/src/Symfony/Component/Workflow/ @lyrixx
# Yaml
/src/Symfony/Component/Yaml/ @xabbuh
