# Tests/ folders are not excluded on purpose.
# See arguments at https://github.com/symfony/symfony/issues/17995

* whitespace=space-before-tab,tab-in-indent,trailing-space,tabwidth=4
/.composer-auth.json export-ignore
