/src/Symfony/Contracts export-ignore
/src/Symfony/Bridge/PhpUnit export-ignore
/src/Symfony/Component/Mailer/Bridge export-ignore
/src/Symfony/Component/Messenger/Bridge export-ignore
/src/Symfony/Component/Notifier/Bridge export-ignore
/src/Symfony/Component/Runtime export-ignore
/src/Symfony/Component/Translation/Bridge export-ignore
/src/Symfony/Component/Emoji/Resources/data/* linguist-generated=true
/src/Symfony/Component/Intl/Resources/data/*/* linguist-generated=true
/src/Symfony/Component/JsonStreamer/Tests/Fixtures/stream_writer/* linguist-generated=true
/src/Symfony/Component/JsonStreamer/Tests/Fixtures/stream_reader/* linguist-generated=true
/src/Symfony/**/.github/workflows/close-pull-request.yml linguist-generated=true
/src/Symfony/**/.github/PULL_REQUEST_TEMPLATE.md linguist-generated=true
