
/packages.json
/.phpunit

vendor/
scrutinizer.phar
php-cs-fixer.phar
package.tar
composer.phar
composer.lock
phpunit.xml

.DS_Store
.buildpath
.project
.idea
.swp
.vagrant*
.php_cs.cache
.*.swp

*.sublime-*
*.lock
