language: php

php:
  - 5.3.3
  - 5.3
  - 5.4
  - 5.5

before_script:
    - sudo apt-get install parallel
    - echo '' > ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
    - sh -c 'if [ $(php -r "echo PHP_MINOR_VERSION;") -le 4 ]; then echo "extension = apc.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
    - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev install
    - php src/Symfony/Component/Locale/Resources/data/build-data.php
    - export USE_INTL_ICU_DATA_VERSION=1

script:
    - ls -d src/Symfony/*/* | parallel --gnu --keep-order 'echo "Running {} tests"; phpunit --exclude-group tty,benchmark {};' || exit 1
    - echo "Running tests requiring tty"; phpunit --group tty
