<?php

// Disabling Zend Garbage Collection to prevent segfaults
// https://bugs.php.net/bug.php?id=53976
if (gc_enabled()) {
    gc_disable();
}

$loader = require_once __DIR__.'/vendor/autoload.php';

use Doctrine\Common\Annotations\AnnotationRegistry;

AnnotationRegistry::registerLoader(array($loader, 'loadClass'));

return $loader;
