parameters:
    autoload_files:
        - vendor/autoload.php
        - .phpunit/phpunit-6.0/vendor/autoload.php
        - vendor/bin/.phpunit/phpunit-5.7/vendor/autoload.php
    ignoreErrors:
        - '#__construct\(\) does not call parent constructor from .+#'
        - '#Function opcache_[^\s]* not found.#'
        - '#Function pcntl_[^\s]* not found.#'
        - '#Function xdebug_[^\s]* not found.#'

        # not errors, actually expected to fail
        - '#Class Symfony\\Bundle\\FrameworkBundle\\Tests\\DependencyInjection\\Compiler\\NotFound not found.#'
        - '#Class Symfony\\Component\\DependencyInjection\\Tests\\Compiler\\NotExist not found.#'
        - '#Class Symfony\\Bug\\NotExistClass not found and could not be autoloaded.#'
    excludes_analyse:
        - */src/Symfony/Bridge/*/Tests/Fixtures/*
        - */src/Symfony/Bridge/*/Tests/*/Fixtures/*
        - src/Symfony/Bridge/PhpUnit/Tests/DeprecationErrorHandler/fake_vendor/

        - */src/Symfony/Bundle/*/Tests/Fixtures/*
        - */src/Symfony/Bundle/*/Tests/*/Fixtures/*
        - src/Symfony/Bundle/FrameworkBundle/Resources/views
        - src/Symfony/Bundle/FrameworkBundle/Tests/Functional/app/Resources/views
        - src/Symfony/Bundle/FrameworkBundle/Tests/Templating/Helper/Resources

        - */src/Symfony/Component/*/Tests/Fixtures/*
        - */src/Symfony/Component/*/Tests/*/Fixtures/*
        - */src/Symfony/Component/*/Tests/Resource/*

        - vendor/

        # temporary, it's currently incompatible with the interface
        - src/Symfony/Bridge/ProxyManager

        # temporary, currently crashing PHPStan 0.9.1
        - src/Symfony/Bundle/FrameworkBundle/Tests/Controller/AbstractControllerTest.php
        - src/Symfony/Bundle/FrameworkBundle/Tests/Controller/ControllerTest.php

        # temporary, loading a non-existant class, these should probably be fixtures
        - src/symfony/Component/DependencyInjection/Tests/Compiler/OptionalServiceClass.php
        - src/Symfony/Component/VarDumper/Tests/Caster/ReflectionCasterTest.php

        # temporary, it's full of actual errors (which are triggers for the handler)
        - src/Symfony/Component/Debug/Tests/ErrorHandlerTest.php

        # temporary, PHPStan doesn't seem to understand namespaced functions properly
        - src/Symfony/Component/Debug/Tests/HeaderMock.php
