<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="autoload.php.dist"
>
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Symfony Test Suite">
            <directory>./src/Symfony/Bridge/*/Tests/</directory>
            <directory>./src/Symfony/Component/*/Tests/</directory>
            <directory>./src/Symfony/Component/*/*/Tests/</directory>
            <directory>./src/Symfony/Bundle/*/Tests/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>benchmark</group>
            <group>intl-data</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>./src/Symfony/</directory>
            <exclude>
                <directory>./src/Symfony/Bridge/*/Tests</directory>
                <directory>./src/Symfony/Component/*/Tests</directory>
                <directory>./src/Symfony/Component/*/*/Tests</directory>
                <directory>./src/Symfony/Bundle/*/Tests</directory>
                <directory>./src/Symfony/Bundle/*/Resources</directory>
                <directory>./src/Symfony/Component/*/Resources</directory>
                <directory>./src/Symfony/Component/*/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
