<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
>
  <testsuites>
    <testsuite name="Symfony Test Suite">
      <directory>./tests/Symfony/</directory>
      <directory>./src/Symfony/Framework/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src/Symfony/</directory>
      <exclude>
        <directory suffix=".php">./src/Symfony/Framework/DoctrineBundle</directory>
        <directory suffix=".php">./src/Symfony/Framework/ZendBundle</directory>

        <directory suffix=".php">./src/Symfony/Framework/DoctrineBundle/Resources</directory>
        <directory suffix=".php">./src/Symfony/Framework/ProfilerBundle/Resources</directory>
        <directory suffix=".php">./src/Symfony/Framework/SwiftmailerBundle/Resources</directory>
        <directory suffix=".php">./src/Symfony/Framework/WebBundle/Resources</directory>
        <directory suffix=".php">./src/Symfony/Framework/ZendBundle/Resources</directory>

        <file>src/Symfony/Foundation/bootstrap.php</file>
        <file>src/Symfony/Foundation/packager.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
