<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:app="http://www.symfony-project.org/schema/dic/symfony"
    xmlns:doctrine="http://www.symfony-project.org/schema/dic/doctrine"
    xmlns:twig="http://www.symfony-project.org/schema/dic/twig"
    xmlns:swift="http://www.symfony-project.org/schema/dic/swiftmailer"
    xmlns:zend="http://www.symfony-project.org/schema/dic/zend"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd
                        http://www.symfony-project.org/schema/dic/symfony http://www.symfony-project.org/schema/dic/symfony/symfony-1.0.xsd
                        http://www.symfony-project.org/schema/dic/doctrine http://www.symfony-project.org/schema/dic/doctrine/doctrine-1.0.xsd
                        http://www.symfony-project.org/schema/dic/zend http://www.symfony-project.org/schema/dic/zend/zend-1.0.xsd
                        http://www.symfony-project.org/schema/dic/twig http://www.symfony-project.org/schema/dic/twig/twig-1.0.xsd
                        http://www.symfony-project.org/schema/dic/swiftmailer http://www.symfony-project.org/schema/dic/swiftmailer/swiftmailer-1.0.xsd">

    <app:config csrf-secret="xxxxxxxxxx" charset="UTF-8" error-handler="null">
        <app:router resource="%kernel.root_dir%/config/routing.xml" />
        <app:validation enabled="true" annotations="true" />
        <app:templating escaping="htmlspecialchars" />
        <!--
        <app:user default-locale="fr">
            <app:session name="SYMFONY" type="Native" lifetime="3600" />
        </app:user>
        //-->
    </app:config>

    <!-- Twig Configuration -->
    <!--
    <twig:config auto_reload="true" />
    -->

    <!-- Doctrine Configuration -->
    <!--
    <doctrine:dbal dbname="xxxxxxxx" user="xxxxxxxx" password="" />
    <doctrine:orm />
    -->

    <!-- Swiftmailer Configuration -->
    <!--
    <swiftmailer:config
        transport="smtp"
        encryption="ssl"
        auth_mode="login"
        host="smtp.gmail.com"
        username="xxxxxxxx"
        password="xxxxxxxx" />
    -->
</container>
