{% extends 'TwigBundle::layout.html.twig' %}

{% block head %}
    <link href="{{ asset('bundles/framework/css/exception.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
    {% include 'TwigBundle:Exception:exception.html.twig' %}
{% endblock %}

{% block header_right %}
    <span class="sf-reset">
        <a href="?_real_template=1" title="Render the true error page that your end users will see">Render True Error Page</a>
    </span>
{% endblock %}
