<ol class="traces logs">
    {% for log in logs %}
        <li{% if log.priorityName in ['EMERG', 'ERR', 'CRIT', 'ALERT', 'ERROR', 'CRITICAL'] %} class="error"{% endif %}>
            {{ log.message }}
        </li>
    {% endfor %}
</ol>
