<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}</title>
        {% block stylesheets '' %}
    </head>
    <body>
        {% block content '' %}
        {% block javascripts '' %}
    </body>
</html>
