
html,
body
{
	width:100%;
	min-height:100%;
	_height:100%;
	margin:0;
	padding:0;
}
body
{
	font: 1em "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;;
	text-align:left;
	background-color:#efefef;
}
body
{
	/* Pour faire des hovers autre que sur des a */
	/*behavior: url(/htc/csshover.htc);*/
	/* Ca fonctionne avec ie6 et ce n'est pas accessible */
}
p
{
  font-size:14px;
  line-height:20px;
  color:#868686;
  padding-bottom:20px
}

strong
{
  color:#313131;
}

a
{
	color:#6c6159;
}
a img
{
	border:none;
}
a:hover
{
	text-decoration:underline;
}

/**
	*	Fixe le problème de padding
	*	et de border sur les boutons
	*	dans firefox
	*/
button::-moz-focus-inner
{
  padding: 0;
  border: none;
}
/**
	*	Fixe le problème de padding
	*	proportionel au contenu des boutons
	*	dans Internet explorer
	*/
button
{
  overflow: visible;
  width: auto;
}
/*
  Corrige le bug d'affichage de bordure et de
  décalage du contenu sous IE en mode XP
*/
button
{
  background-color: transparent;
}

table,
th,
td,
tr
{
	border-collapse:collapse;
	border:1px solid #d0dbb3;
}
table
{
	width:100%;
	margin:10px 0 60px;
}
table th
{
	font-weight:bold;
	background-color:#f1f7e2;
}
table th,
table td
{
	font-size:12px;
	padding:8px 10px;
}
fieldset
{
	border:none;
}
.clear
{
	clear:both;
	height:0px;
	font-size:0;
	line-height:0;
}
strong
{
	font-weight:bold;
}
em
{
	font-style:italic;
}
/* ------- DEBUT - Clear ------- */

.clear_fix:after
{
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear_fix
{
	display:inline-block;
}
/* \*/ * html .clear_fix
{
	height:1%;
}
.clear_fix
{
	display:block;
}

/* ------- FIN - Clear ------- */
