h2,
h3
{
  font-weight:bold;
}


h1
{
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#404040;
}

li
{
  padding-bottom:10px;

}

.list_02
{
  padding-bottom:14px;
}

.list_02 li
{
  font-size:14px;
  color:#868686;
  padding-bottom:20px;
	list-style-type:decimal;
	margin-left:24px;
}

.box_screen,
.resume
{
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
	margin-bottom:20px;
}
.box_screen
{
  background-color:#FFFFFF;
	border:1px solid #dfdfdf;
	padding:50px;
}
.count
{
  display:inline-block;
	background-color:#aacd4e;
	-moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
	padding:4px;
	color:white;
	margin-right:2px;
}

.list_01 li
{
  padding-bottom:10px;
  font-size:13px;
}

.list_01 li a,
.list_01 li a:hover
{
  background:transparent url(/images/common/picto/blue_arrow.png) no-repeat right 6px;
  padding-right:10px;
  display:inline-block;
  color:#0088CC;
  text-decoration:none;
}

.list_01 li a:hover
{
  text-decoration:underline;
}

.must_highlight
{
  font-weight:normal;
  color:#868686;
  text-decoration:underline;
}
.box_code
{
  border:1px solid #D3D3D3;
	padding:10px;
	min-height:240px;
	_height:240px;
	overflow:auto;
	margin:10px 0 20px;
}
/* -- Debut Profiler -- */
.symfony_profiler
{
  font-family:Arial, Helvetica, sans-serif;
}
.resume
{
  background-color:#f6f6f6;
  border:1px solid #dfdfdf;
  padding:16px 28px;
}

.resume p
{
  color:#313131;
	font-size:12px;
}
.resume .date
{
	display:block;
}
.symfony_profiler .box_screen
{
	padding:0;
}
table th.value
{
	width:450px;
	background-color:#dfeeb8;
}
.symfony_profiler h2
{
  font-size:16px;
	color:#313131;
	font-weight:bold;
	padding-bottom:2px;
}
.box_columns_profiler p
{
  color:#868686;
	font-size:14px;
	padding-bottom:20px;
}
.symfony_profiler .box_screen
{
    padding: 0;
}
/* -- FIN Profiler -- */
