.box_search
{
  padding-top:20px;
}
.error_succes strong,
.error_succes,
p.error_succes
{
  color:#759E1A;
}
.box_search .non_extensible_button
{
  float:none;
}

.box_search label
{
  line-height:28px;
  vertical-align:middle;
}

.box_search .medium_txt
{
  width:188px;
  margin-right:10px;
  font-size:12px;
}


.medium_txt
{
  border:1px solid #dadada;
  background:#FFFFFF url("/bundles/webprofiler/images/profiler/input_bg.gif") repeat-x left top;
  padding:5px 6px;
  color:#565656;
}
/* FIN style formulaire textarea page exception*/