.menu_profiler
{
  border-right:1px solid #dfdfdf;
}
.menu_profiler li
{
  border-bottom:1px solid #dfdfdf;
	position:relative;
  padding-bottom:0;
  display:block;
}
.menu_profiler li a,
.menu_profiler li a .picto
{
  display:block;
	font-size:13px;
	background-color:#f6f6f6;
	text-transform:uppercase;
  cursor:pointer;
}
.menu_profiler li a,
.menu_profiler li a:hover
{
  color:#404040;
	text-decoration:none;
  display:block;
  background-image:none;
}
.menu_profiler li.selected a,
.menu_profiler li a:hover
{
 background:#d1d1d1 url(/images/common/backgrounds/bg_submenu.gif) repeat-x 0 0;
}

.menu_profiler a .picto
{
  display:block;
	padding:20px 20px 16px 65px;
	min-height:24px;
	_height:24px;
}
.menu_profiler .request a,
.menu_profiler .request .picto
{
	-moz-border-radius:16px 0 0 0;
  -webkit-border-radius:16px 0 0 0;
  border-radius:16px 0 0 0;
}
.menu_profiler .request .picto
{
  background:transparent url("/bundles/webprofiler/images/profiler/request.png") no-repeat 14px 14px;
}
.menu_profiler .exception .picto
{
  background:transparent url("/bundles/webprofiler/images/profiler/exception.png") no-repeat 14px 14px;
}
.menu_profiler .events .picto
{
  background:transparent url("/bundles/webprofiler/images/profiler/events.png") no-repeat 22px 14px;
}
.menu_profiler .logger .picto
{
  background:transparent url("/bundles/webprofiler/images/profiler/logger.png") no-repeat 22px 14px;
}
.menu_profiler .db .picto
{
  background:transparent url("/bundles/webprofiler/images/profiler/db.png") no-repeat 22px 14px;
}
.more_information
{
  float:right;
	position:relative;
	top:-4px;
	display:block;
	width:70px;
	text-align:right;
}
