<h2>Routing for "{{ pathinfo }}"</h2>

<table class="routing">
    <tr>
        <th>Route name</th>
        <th>Pattern</th>
        <th>Log</th>
    </tr>
    {% for trace in traces %}
        <tr class="{{ 1 == trace.level ? 'almost' : 2 == trace.level ? 'matches' : '' }}">
            <td>{{ trace.name }}</td>
            <td>{{ trace.pattern }}</td>
            <td>{{ trace.log }}</td>
        </tr>
    {% endfor %}
</table>
<em><small>Note: The above matching is based on the configuration for the current router which might differ from
the configuration used while routing this request.</small></em>