{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span>
            <img width="13" height="28" alt="AJAX requests" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAIAAAD9b0jDAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gUHEyAlcTeN+gAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAA00lEQVRIx2P8//8/A7UBEwMNAF0M/fXrcIuJiYODg4ODg4lJy+Ffv3DpvL80IWHpfWq69P7ShMTZDx7MTsRqLiMZEQUxEc5VSJ2/IFoRn6G/fh3usircw8PDwMDw5YtL/7EyWzY2PCZiNZeJEjfCAVo4kOD9pQkmsx/w4FEAdy/J3idGzdBN/KOGjho6GA2FZlOC+fqLQuqZBdGkGYqnBMIs2UjI+4rRC+anKhA0kTSXElmqk2Mosrm4TCTofRZMPYrRC+YzJDQy1JPhRvIrvoFJpwCYFJhY6/T5nwAAAABJRU5ErkJggg==">
            <span class="sf-toolbar-ajax-requests">0</span>
        </span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <p><b>AJAX requests</b> <span class="sf-toolbar-ajax-info"></span></p>
            <div>
                <table class="sf-toolbar-ajax-requests">
                    <thead>
                        <tr>
                            <th>Method</th>
                            <th>URL</th>
                            <th>Time</th>
                            <th>Profile</th>
                        </tr>
                    </thead>
                    <tbody class="sf-toolbar-ajax-request-list"></tbody>
                </table>
            </div>
        </div>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
