{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span>
            <img width="13" height="28" alt="AJAX requests" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjM0YzRjNGIiBwb2ludHM9IjE4LjQsMy44IDEyLjgsOS40IDE2LjMsOS40IDE2LjMsMjEuMSAxNC4xLDIxLjEgOS45LDI1LjMgMTYuMywyNS4zIDIwLjUsMjUuMyAyMC41LDIxLjEgMjAuNSw5LjQgMjMuOSw5LjQiLz48cG9seWdvbiBmaWxsPSIjM0YzRjNGIiBwb2ludHM9IjUuNiwyNS4zIDExLjIsMTkuNyA3LjcsMTkuNyA3LjcsOCA5LjksOCAxNC4xLDMuOCA3LjcsMy44IDMuNSwzLjggMy41LDggMy41LDE5LjcgMC4xLDE5LjciLz48L3N2Zz4=">
            <span class="sf-toolbar-ajax-requests">0</span>
        </span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>AJAX requests</b>
            <span class="sf-toolbar-ajax-info"></span>
        </div>
        <div class="sf-toolbar-info-piece">
            <table class="sf-toolbar-ajax-requests">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>URL</th>
                        <th>Time</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody class="sf-toolbar-ajax-request-list"></tbody>
            </table>
        </div>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
