{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span>
            <img width="13" height="28" alt="AJAX requests" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAQAAADCOPeRAAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeBBwSLArN6Wy2AAAAGXRFWHRDb21tZW50AENyZWF0ZWQgd2l0aCBHSU1QV4EOFwAAAkFJREFUKM+100tIlFEUwPH/vd/MN6Oj4yvygULRA1LJRUTYMgiCVgmBFWHhIgULF0Vii55CGGSSVpBRkWHRLIsIoYioNrUoygajMIrMFzYzznwz3+PeFk6D7uusDocfhwPnHPjvIf4mD/K8YvwIEFpnjPhuaxkYqaZTNLFaL5bG9CNxqflnDgzKoh66FGqMH0iqZK1E37PbWmPgAzCr7S2S1Eer7Vc0IEvWF14z63STuMKLLLAK/BUG6s7Eq8sKLsSs55k6TAohC2yN8iCxQQDMOOZFGZFafACQAA42No6QAqBXbf9W0VhafnJ2CciQxlnsyVDw7YlYT/LG+cYcsElj4VIERPyzbfFTlk6F7NFzm7IzpNEoBA2q23x/MNWnEAJUyHzasU2Clik7KRJYKmCs8U0PzuuF1wkSaevrbFgfEmfWTh/xnrnH3Maq9lRNetybSzYEoiIifoc6Y7VVp32T+9KH/TtEGGLtTr0tPePuw5YDBgStT7dug3SGg2OZdV452tpoSfYHRL3QQqMRJoAc+mLs8kcdBA66JThy3asUoHPrljAwHmoOTthCttYNX/VAo9DoLJIA/e/UoUCHO9KlADwEIncoEmBvmaXsz6WbuwMAQRa7LAGiVo6KJ+5NpwDgsTLDAJ7ObbMg7n53a6xyd+fZKGKq0toDTLrxHCiKJu8bR30hX19mBhEqDqxUZCLz4wAGwEtv65v8Of8qf5lvhSzxBcSUMRDuHVhYdtXHTV2Sly99oJSXScz1W//qcf4A1YDwTb3s5oEAAAAASUVORK5CYII=">
            <span class="sf-toolbar-ajax-requests">0</span>
        </span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>AJAX requests</b>
            <div>
                <table class="sf-toolbar-ajax-requests">
                    <thead>
                        <tr>
                            <th>Method</th>
                            <th>URL</th>
                            <th>Time</th>
                            <th>Profile</th>
                        </tr>
                    </thead>
                    <tbody class="sf-toolbar-ajax-request-list"></tbody>
                </table>
            </div>
        </div>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
