{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block head %}
    <style type="text/css">
        {% include '@WebProfiler/Collector/exception.css.twig' %}
    </style>
    {{ parent() }}
{% endblock %}

{% block toolbar %}
    {% if collector.count > 0 %}
        {% set icon %}
            <span>
                <img width="16" height="28" alt="Deprecated methods used" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAA4klEQVQ4y2P4//8/AyWYYXgYwOPp6Xnc3t7+P7EYpB6k7+zZs2ADNEjRjIwDAgKWgAywIUfz8+fPVzg7O/8AGeCATQEQnAfi/SAah/wcV1dXvAYUgORANA75ehcXl+/4DHAABRIe+ZrhbgAhTHsDiEgHBA0glA6GfSDiw5mZma+A+sphBlhVVFQ88vHx+Xfu3Ll7QP5haOjjwtuAuGHv3r3NIMNABqh8+/atsaur666vr+9XUlwSHx//AGQANxCbAnEWyGQicRMQ9wBxIQM0qjiBWAFqkB00/glhayBWHwb1AgB38EJsUtxtWwAAAABJRU5ErkJggg==" />
                <span class="sf-toolbar-status sf-toolbar-status-yellow">{{ collector.count }}</span>
            </span>
        {% endset %}
        {% set text %}
        <div class="sf-toolbar-info-piece">
            <b style="width: 170px;">Deprecated Methods used</b>
            <span>{{ collector.count }}</span>
        </div>
        {% endset %}
        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': false } %}
    {% endif %}
{% endblock %}

