{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="{{ asset('bundles/webprofiler/images/profiler/events.png') }}" alt="Events" /></span>
    <strong>Events</strong>
</span>
{% endblock %}

{% block panel %}
    <h2>Called Listeners</h2>

    <table>
        <tr>
            <th>Event name</th>
            <th>Listener</th>
        </tr>
        {% for listener in collector.calledlisteners %}
            <tr>
                <td><code>{{ listener.event }}</code></td>
                <td><code>{% include 'WebProfilerBundle:Collector:listener.html.twig' with { 'listener': listener } only %}</code></td>
            </tr>
        {% endfor %}
    </table>

    {% if collector.notcalledlisteners %}
        <h2>Not Called Listeners</h2>

        <table>
            <tr>
                <th>Event name</th>
                <th>Listener</th>
            </tr>
            {% for listener in collector.notcalledlisteners %}
                <tr>
                    <td><code>{{ listener.event }}</code></td>
                    <td><code>{% include 'WebProfilerBundle:Collector:listener.html.twig' with { 'listener': listener } only %}</code></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
