{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span>
            <img width="13" height="28" alt="Memory Usage" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTMgMjgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEzIDI4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cmVjdCB4PSIzIiB5PSIxMSIgZmlsbD0iI0JDQkNCQiIgd2lkdGg9IjciIGhlaWdodD0iOSIvPjwvZz48Zz48cGF0aCBmaWxsPSIjM0YzRjNGIiBkPSJNMTEgNlYyMUgyVjZIMFYyMmMwIDAuNiAwLjQgMSAxIDFoMTFjMC42IDAgMS0wLjQgMS0xVjZIMTF6Ii8+PC9nPjwvc3ZnPg==" />
            <span>{{ '%.1f'|format(collector.memory / 1024 / 1024) }} MB</span>
        </span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Memory usage</b>
            <span>{{ '%.1f'|format(collector.memory / 1024 / 1024) }} / {{ collector.memoryLimit == -1 ? '&infin;' : '%.1f'|format(collector.memoryLimit / 1024 / 1024)|escape }} MB</span>
        </div>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
