{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img width="32" height="32" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsPSIjM0YzRjNGIiBkPSJNMTUgMmMtMS4xIDAtMiAwLjktMiAydjI1YzAgMS4xIDAuOSAyIDIgMnMyLTAuOSAyLTJWNEMxNyAyLjkgMTYuMSAyIDE1IDJ6Ii8+PHBhdGggZmlsbD0iIzNGM0YzRiIgZD0iTTMwLjcgOC4ybC0yLjktMi45QzI3LjYgNS4xIDI3LjMgNSAyNyA1aDBoMGgtOXY4aDljMC4zIDAgMC42LTAuMSAwLjgtMC4zbDIuOS0yLjkgQzMxLjEgOS40IDMxLjEgOC42IDMwLjcgOC4yeiIvPjxwYXRoIGZpbGw9IiMzRjNGM0YiIGQ9Ik01IDhMNSA4QzQuNyA4IDQuNCA4LjEgNC4yIDguM2wtMi45IDIuOWMtMC40IDAuNC0wLjQgMS4xIDAgMS42bDIuOSAyLjlDNC40IDE1LjkgNC43IDE2IDUgMTZoN1Y4SDVMNSA4eiIvPjxwYXRoIGZpbGw9IiMzRjNGM0YiIGQ9Ik0yNC44IDE2LjJjLTAuMi0wLjItMC4zLTAuMi0wLjUtMC4yaDBoMEgxOHY2aDYuMmMwLjIgMCAwLjQtMC4xIDAuNS0wLjJsMi0yLjJjMC4zLTAuMyAwLjMtMC45IDAtMS4yIEwyNC44IDE2LjJ6Ii8+PC9nPjwvc3ZnPg==" alt="Routing"></span>
    <strong>Routing</strong>
</span>
{% endblock %}

{% block panel %}
    {{ render(path('_profiler_router', {'token': token})) }}
{% endblock %}
