{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
<img style="margin: 0 5px 0 10px; vertical-align: middle; height: 24px" width="24" height="24" alt="Security" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAftJREFUeNpi/P//P8NAASaGAQSjlg8IYEHmMDIyEqMnAYiDgZgHyv8CxGuBeAEhjeiJm4VExybEx8fX29vby3BwcID1/vjx48/Bgwd1Fi5cyECMA1A8i+waAj7nSUhIOOvi4qKGTXLPnj23FixYYAwNCaJ8TnSca2lpGVpaWir9/fuXARsGyYHU0CTBKSoqerOxsbH8+/ePARsGyYHUkJ3g8AFVVVWNP3/+EFRDE8tBvgMFLyE1NLGci4vrHSGfg9TQJM65ubl3gSzHh0FqaOJzTk7OHYR8DlJDE5+XlJR8ePfu3eHfv38zYMMgOZAampXtQJ/14QpykBypZTspJRwY1NXVYW19NDU1EdRMSdluAKpQ8MR7M7SCuUAtn4NqLhsgjldRUdEwNjaWkZOTE8Fm0KNHj96cPXv2yZ07d24AuaBa5gh6OY/uc1yWS4B8Ccy3vpqamvJASxWA2YiDGN98/fr1B9ARD65fv/7w27dvm6Gh8YIYy0E+bRYSErIA+VJZWVmClZWV1GoXDIA54M/du3dfgEIDmBNOAIVqgXZ9wWk5Pz9/iZubW7WoqKgANVssr1+//rBr167Wjx8/9uC03NHR8bGampoMLZpMt27derJ//35ZnKldSUlJhlApRi4AmY23eCW1VqJqA5JQlUltwDjaXRpxlgMEGAA2xSf2HpUp2wAAAABJRU5ErkJggg==" />
{% if collector.authenticated %}
    <span style="color: #3a3">{{ collector.user }}</span>
{% elseif collector.enabled %}
    <span style="color: #a33">anon.</span>
{% else %}
    <span style="color: #a33">disabled</span>
{% endif %}
{% endblock %}

{% block menu %}
<img style="margin: 0 5px 0 0; vertical-align: middle; width: 32px" width="32" height="32" alt="Security" src="{{ asset('bundles/webprofiler/images/security.png') }}" />
Security
{% endblock %}

{% block panel %}
    <h2>Security</h2>
    {% if collector.authenticated %}
        Username: <strong>{{ collector.user }}</strong><br />
        Roles: {{ collector.roles|yaml_encode }}
    {% elseif collector.enabled %}
        <em>No token</em>
    {% else %}
        <em>The security component is disabled</em>
    {% endif %}
{% endblock %}
