<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="request_listener.class">Symfony\Bundle\FrameworkBundle\RequestListener</parameter>
        <parameter key="controller_resolver.class">Symfony\Bundle\FrameworkBundle\Controller\ControllerResolver</parameter>
        <parameter key="controller_name_converter.class">Symfony\Bundle\FrameworkBundle\Controller\ControllerNameConverter</parameter>
        <parameter key="response_listener.class">Symfony\Component\HttpKernel\ResponseListener</parameter>
        <parameter key="exception_listener.class">Symfony\Bundle\FrameworkBundle\Debug\ExceptionListener</parameter>
        <parameter key="exception_listener.controller">Symfony\Bundle\FrameworkBundle\Controller\ExceptionController::exceptionAction</parameter>
        <parameter key="exception_manager.class">Symfony\Bundle\FrameworkBundle\Debug\ExceptionManager</parameter>
        <parameter key="esi.class">Symfony\Component\HttpKernel\Cache\Esi</parameter>
        <parameter key="esi_listener.class">Symfony\Component\HttpKernel\Cache\EsiListener</parameter>
    </parameters>

    <services>
        <service id="controller_name_converter" class="%controller_name_converter.class%">
            <argument type="service" id="kernel" />
            <argument type="service" id="logger" on-invalid="ignore" />
        </service>

        <service id="controller_resolver" class="%controller_resolver.class%">
            <argument type="service" id="service_container" />
            <argument type="service" id="controller_name_converter" />
            <argument type="service" id="logger" on-invalid="ignore" />
        </service>

        <service id="request_listener" class="%request_listener.class%">
            <tag name="kernel.listener" />
            <argument type="service" id="router" />
            <argument type="service" id="logger" on-invalid="ignore" />
        </service>

        <service id="esi" class="%esi.class%" />

        <service id="esi_listener" class="%esi_listener.class%">
          <tag name="kernel.listener" />
          <argument type="service" id="esi" on-invalid="ignore" />
        </service>

        <service id="response_listener" class="%response_listener.class%">
            <tag name="kernel.listener" />
        </service>

        <service id="exception_listener" class="%exception_listener.class%">
            <tag name="kernel.listener" />
            <argument type="service" id="service_container" />
            <argument>%exception_listener.controller%</argument>
            <argument type="service" id="logger" on-invalid="null" />
        </service>
    </services>
</container>
