<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:swift="http://www.symfony-project.org/schema/dic/swiftmailer"
    xmlns:doctrine="http://www.symfony-project.org/schema/dic/doctrine"
    xmlns:symfony="http://www.symfony-project.org/schema/dic/symfony"
    xmlns:kernel="http://www.symfony-project.org/schema/dic/symfony/kernel"
    xmlns:zend="http://www.symfony-project.org/schema/dic/zend"
    xmlns:web="http://www.symfony-project.org/schema/dic/symfony"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd
                        http://www.symfony-project.org/schema/dic/doctrine http://www.symfony-project.org/schema/dic/doctrine/doctrine-1.0.xsd
                        http://www.symfony-project.org/schema/dic/symfony http://www.symfony-project.org/schema/dic/symfony/symfony-1.0.xsd
                        http://www.symfony-project.org/schema/dic/swiftmailer http://www.symfony-project.org/schema/dic/swiftmailer/swiftmailer-1.0.xsd">

  <kernel:config
    charset="UTF-8"
    error_handler_level="null"
  />

  <web:web />

  <web:templating
    escaping="htmlspecialchars"
    assets_version="SomeVersionScheme"
  />

  <doctrine:dbal
    dbname="xxxxxxxx"
    username="root"
    password=""
  />

  <doctrine:orm />

  <swift:mailer
    transport="gmail"
    username="xxxxxxxx"
    password="xxxxxxxx"
  />
</container>
