{% if token is not empty %}
    <div class="search import clearfix" id="adminBar">
        <h3>
            <span title="Import" class="sf-icon sf-admin sf-medium"></span>
            Admin
        </h3>

        <div style="margin: 0 10px 10px;">&#187;&#160;<a href="{{ path('_profiler_purge', { 'token': token }) }}">Purge</a></div>
    </div>
{% endif %}
