<div class="search import clearfix">
    <h3>
        <img width="16" height="16" alt="Import" src="{{ asset('bundles/webprofiler/images/import.png') }}" />
        Admin
    </h3>

    <form action="{{ path('_profiler_import') }}" method="post" enctype="multipart/form-data">
        <div>
            &raquo;&nbsp;<a href="{{ path('_profiler_purge', { 'token': token }) }}">Purge</a>
        </div>
        <div>
            &raquo;&nbsp;<a href="{{ path('_profiler_export', { 'token': token }) }}">Export</a>
        </div>
        <div>
            &raquo;&nbsp;<label for="file">Import</label><br>
            &nbsp;&nbsp;&nbsp;<input type="file" id="file" name="file">
        </div>
        <button type="submit">
            <span class="border_l">
                <span class="border_r">
                    <span class="btn_bg">UPLOAD</span>
                </span>
            </span>
        </button>
    </form>
</div>
