{% if token is not empty %}
    <div id="sidebar-admin">
        <h3>Administration tools</h3>

        <a href="{{ path('_profiler_purge', { token: token }) }}">Delete all profiles</a>
    </div>
{% endif %}
