<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title 'Profiler' %}</title>
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ asset('bundles/webprofiler/favicon.ico') }}" />
        {% block head %}
            <link rel="stylesheet" href="{{ asset('bundles/webprofiler/css/profiler.css') }}" />
        {% endblock %}
        {% include 'WebProfilerBundle:Profiler:toolbar_style.html.twig' with { 'position': 'top', 'floatable': false } %}
    </head>
    <body>
        {% block body '' %}
    </body>
</html>
