<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title 'Profiler' %}</title>
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ asset('bundles/webprofiler/favicon.ico') }}" />
        {% block head %}
            <link rel="stylesheet" href="{{ asset('bundles/webprofiler/css/toolbar.css') }}"  />
            <link rel="stylesheet" href="{{ asset('bundles/webprofiler/css/profiler.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body '' %}
    </body>
</html>
