{% extends 'WebProfilerBundle:Profiler:base.html.twig' %}

{% block body %}
    <div id="content">
        {% include 'WebProfilerBundle:Profiler:header.html.twig' only %}

        <div id="main">
            <div class="clear_fix">
                <div id="collector_wrapper">
                    <div id="collector_content">
                        {% block panel %}
                            {% if about == 'purge' %}
                                <h2>The profiler database was purged successfully</h2>
                                <p>
                                    <em>Now you need to browse some pages with the Symfony Profiler enabled to collect data.</em>
                                </p>
                            {% elseif about == 'upload_error' %}
                                <h2>A problem occurred when uploading the data</h2>
                                <p>
                                    <em>No file given or the file was not uploaded successfully.</em>
                                </p>
                            {% elseif about == 'already_exists' %}
                                <h2>A problem occurred when uploading the data</h2>
                                <p>
                                    <em>The token already exists in the database.</em>
                                </p>
                            {% elseif about == 'no_token' %}
                                <h2>Token not found</h2>
                                <p>
                                    <em>Token "{{ token }}" was not found in the database.</em>
                                </p>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
                <div id="navigation">
                    {% render 'WebProfilerBundle:Profiler:searchBar' with { 'token': '' } %}
                    {% include 'WebProfilerBundle:Profiler:admin.html.twig' with { 'token': '' } only %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
