{% extends 'WebProfilerBundle:Profiler:base.html.twig' %}

{% block body %}
    <div id="content">
        {% include 'WebProfilerBundle:Profiler:header.html.twig' only %}
       
        <div class="resume">
            <p>
                <strong>Token "{{ token }}" does not exist.</strong>
            </p>
        </div>

        <div class="main">
            <div class="clear_fix">
                <div class="navigation">
                    {% render 'WebProfilerBundle:Profiler:searchBar' with { 'token': token } %}
                    {% include 'WebProfilerBundle:Profiler:admin.html.twig' with { 'token': token } only %}
                </div>
                <div class="collector_content">
                    {% block panel '' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
