<table {% if class is defined %}class='{{ class }}'{% endif %} >
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key in data|keys|sort %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ data[key]|json_encode }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
