{% if link %}
    {% set icon %}
        <a class="sf-toolbar-block-icon" href="{{ path('_profiler', { 'token': token, 'panel': name }) }}">{{ icon }}</a>
    {% endset %}
{% endif %}
<span class="sf-toolbar-block">
     {{ icon|default('') }}
     {{ text|default('') }}
</span>
