<!-- START of Symfony2 Web Debug Toolbar -->
{% if 'normal' != position %}
    <div style="clear: both; height: 40px;"></div>
{% endif %}
<div
    class="sf-toolbarreset"
    {% if 'normal' != position %}
        style="position: {{ position }};
        background: #cbcbcb;
        background-image: -moz-linear-gradient(-90deg, #e8e8e8, #cbcbcb);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8e8e8), to(#cbcbcb));
        bottom: 0;
        left:0;
        z-index: 6000000;
        width: 100%;
        border-top: 1px solid #bbb;
        padding: 5px;
        margin: 0;
        font: 11px Verdana, Arial, sans-serif;
        color: #000;
    "
    {% endif %}
>
{% for name, template in templates %}
    {% set content %}{{ template.block('toolbar', ['collector': profiler.get(name)])|raw }}{% endset %}
    {% if content %}{{ content|raw }}{% endif %}
{% endfor %}
</div>
<!-- END of Symfony2 Web Debug Toolbar -->
