<!-- START of Symfony2 Web Debug Toolbar -->
{% if 'normal' != position %}
    {% include 'WebProfilerBundle:Profiler:toolbar_style.html.twig' with { 'position': position, 'floatable': true } %}
    <div style="clear: both; height: 38px;"></div>
{% endif %}

<div class="sf-toolbarreset">
    {% for name, template in templates %}
        {{ template.renderblock('toolbar', {
            'collector': profile.getcollector(name),
            'profiler_url': profiler_url,
            'token': profile.token,
            'name': name
          })
        }}
    {% endfor %}

    {% if 'normal' != position %}
        <a class="hide-button" title="Close Toolbar" onclick="
            var p = this.parentNode;
            p.style.display = 'none';
            (p.previousElementSibling || p.previousSibling).style.display = 'none';
        "></a>
    {% endif %}
</div>
<!-- END of Symfony2 Web Debug Toolbar -->
