<div class="sf-toolbarreset clear-fix" style="display: block">
    <p class="error-message">{{ error_message }}</p>
</div>
<style>
    {{ include('@WebProfiler/Profiler/toolbar.css.twig') }}
</style>
