<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="../src/autoload.php"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>../src/Application/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src/Application</directory>
            <exclude>
                <directory>../src/Application/*/Resources</directory>
                <directory>../src/Application/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
