{% block _text_id_widget %}
<div id="container">
    {# TODO find a smarter way to render the parent type #}
    <input type="text" id="{{ id }}" value="{{ value }}" />
</div>
{% endblock _text_id_widget %}