<ol class="traces">
    {% for log in logs %}
        <li>
            {% if 'EMERG' == log.priorityName or 'ERR' == log.priorityName or 'CRIT' == log.priorityName
               or 'ALERT' == log.priorityName or 'ERROR' == log.priorityName or 'CRITICAL' == log.priorityName %}
                <em>{{ log.priorityName }}</em>
            {% else %}
                {{ log.priorityName }}
            {% endif %}

            {{ log.message }}
        </li>
    {% endfor %}
</ol>