<ol class="traces">
    {% for log in logs %}
        <li>
            {% if log.priorityName in ['EMERG', 'ERR', 'CRIT', 'ALERT', 'ERROR', 'CRITICAL'] %}
                <em>{{ log.priorityName }}</em>
            {% else %}
                {{ log.priorityName }}
            {% endif %}

            {{ log.message }}
        </li>
    {% endfor %}
</ol>
