<ol>
    {% for log in logs %}
        <li{% if 'ERR' == log.priorityName %} class="error"{% endif %}>
            {{ log.priorityName }}
            {{ log.message }}
        </li>
    {% endfor %}
</ol>
