html {
    background: #eee;
}

body {
    font: 11px Verdana, Arial, sans-serif; 
    color: #333;
}

.sf-exceptionreset, .sf-exceptionreset .block, .sf-exceptionreset #message {
    margin: auto;
}

img {
    border: 0;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.clear_fix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear_fix {
    display: inline-block;
}
* html .clear_fix {
    height: 1%;
}
.clear_fix {
    display: block;
}

.header {
    padding: 30px 30px 20px 30px;
}

.header_logo {
    float: left;
}

.search {
    float: right;
    padding-top: 20px;
}

.search label {
    line-height: 28px; 
    vertical-align: middle;
}

.search input {
    width: 188px; 
    margin-right: 10px; 
    font-size: 12px; 
    border: 1px solid #dadada; 
    background: #FFFFFF url(../images/input_bg.gif) repeat-x left top;
    padding: 5px 6px;
    color: #565656;
}

.search input[type="search"] {
    -webkit-appearance: textfield;
}

.search button {
    -webkit-appearance: button-bevel;
    float: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0;
    background: none;
}

.search button:-moz-focus-inner {
    padding: 0;
    border: none;
}

.search button:hover {
    text-decoration: none;
}

.search button span span,
.search button span span span {
    position: static;
}

.search button span {
    position: relative;
    text-decoration: none;
    display: block;
    height: 28px;
    float: left;
    padding: 0 0 0 8px;
    background: transparent url(../images/border_l.png) no-repeat top left;
}

.search button span span {
    padding: 0 8px 0 0;
    background: transparent url(../images/border_r.png) right top no-repeat;
}

.search button span span span {
    padding: 0 7px;
    font: bold 11px Arial, Helvetica, sans-serif;
    color: #6b6b6b;
    line-height: 28px;
    background: transparent url(../images/btn_bg.png) repeat-x top left;
}

#content {
    width: 970px;
    margin: 0 auto;
}
