html {
    background: #eee;
}
body {
    font: 11px Verdana, Arial, sans-serif;
    color: #333;
}
.sf-reset, .sf-reset .block, .sf-reset #message {
    margin: auto;
}
img {
    border: 0;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.clear-fix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear-fix {
    display: inline-block;
}
* html .clear-fix {
    height: 1%;
}
.clear-fix {
    display: block;
}
.header {
    padding: 30px 30px 20px 30px;
}
.header-logo {
    float: left;
}
.search {
    float: right;
    padding-top: 20px;
}
.search label {
    line-height: 28px;
    vertical-align: middle;
}
.search input {
    width: 195px;
    font-size: 12px;
    border: 1px solid #dadada;
    background: #fff url(data:image/gif;base64,R0lGODlhAQAFAKIAAPX19e/v7/39/fr6+urq6gAAAAAAAAAAACH5BAAAAAAALAAAAAABAAUAAAMESAEjCQA7) repeat-x left top;
    padding: 5px 6px;
    color: #565656;
}
.search input[type="search"] {
    -webkit-appearance: textfield;
}
#content {
    width: 970px;
    margin: 0 auto;
}
#content pre {
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
}
